<h2 mat-dialog-title>Preencha o Formulário</h2>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">Enviar</button>
</div>
