<div class="dialog-detalhes-pet">
    <h2>Detalhes</h2>
    <table>
        <thead>
            <tr>
                <th>Tipo Pet</th>
                <th>Raça</th>
                <th>Sexo</th>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ pet.tipo_animal }}</td>
                <td>{{ pet.raca }}</td>
                <td>{{ pet.genero }}</td>
                <td>{{ pet.nome }}</td>
                <td>{{ calcularIdade(pet.data_nascimento) }}</td>
            </tr>
        </tbody>
    </table>
</div>
