<div class="dialog-detalhes-pet">
    <h2>Detalhes</h2>
    <table>
        <thead>
            <tr>
                <th>Tipo Pet</th>
                <th>Raça</th>
                <th>Sexo</th>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gato</td>
                <td>Persa</td>
                <td>M</td>
                <td>Xerxes</td>
                <td>2 anos</td>
            </tr>
        </tbody>
    </table>
</div>
