<div class="dialog-edit-pet">
    <h2 mat-dialog-title>Editar Pet</h2>
    
    <div mat-dialog-content>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text" name="nome" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gênero</mat-label>
          <mat-select
            matNativeControl
            formControlName="genero"
            name="genero"
            required
          >
            <mat-option value="M">Macho</mat-option>
            <mat-option value="F">Fêmea</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            formControlName="data_nascimento"
            type="date"
            name="data_nascimento"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select
            matNativeControl
            formControlName="tipo_animal"
            name="tipo_animal"
            required
          >
            <mat-option value="Cachorro">Cachorro</mat-option>
            <mat-option value="Gato">Gato</mat-option>
            <mat-option value="Outro">Outro</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Raça do Animal</mat-label>
          <input matInput formControlName="raca" type="text" name="raca" required />
        </mat-form-field>
        <button type="submit" (click)="submit()" [disabled]="form.invalid">
          Enviar
        </button>
      </form>
    </div>
    
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancelar</button>
    </div>
</div>
