$darkBlue: #219799;
$darkBlue2: #1a7778;
$lightBlue: #aadef3;
$lightBlue2: #60c1dc;

.dialog-edit-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 80px;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    input,
    button {
      width: 100%;
      height: 40px;
      border: none;
    }
    // input {
    //   padding-left: 1rem;
    //   border-radius: 2px;
    //   transition: 0.3s;
    //   outline: solid 2px transparent;
    //   &:focus-visible {
    //     outline: solid 2px $darkBlue;
    //   }
    // }
    button {
      border-radius: 2px;
      background-color: $darkBlue;
      color: white;
      font-size: 1.25rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $darkBlue2;
      }
      &:disabled {
        background-color: #b0b0b0;
        cursor: default;
      }
    }
  }
}
