.page-servicos {
  padding: 80px;
  .content-servicos {
    border-radius: 15px;
    // background-color: #f0f0f0;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    .card {
      border-radius: 15px;
      background-color: #f0f0f0;
      padding: 1.5rem 2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      h2 {
        text-align: center;
      }
    }
    .servicos{
      .servicos-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .servico {
          display: flex;
          justify-content: space-between;
          h3 {
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }
    .table-agendamentos{
      grid-column: 1/4;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      border-radius: 15px;
      background-color: #f0f0f0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 2rem;
      .guia{
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1.5rem;
        // margin-bottom: 1rem;
        .item{
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      table {
        width: 100%;
        thead {
          tr {
            background-color: #d0d0d0;
            th {
              font-size: 1.35rem;
              padding: 12px 0;
              text-transform: uppercase;
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 1.15rem;
              padding: 8px 0;
              text-align: center;
              svg{
                cursor: pointer;
                transition: .3s;
                &:hover{
                  scale: 1.1;
                }
              }
            }
            background-color: #f0f0f0;
            &:nth-child(even) {
              background-color: #d7d7d7;
            }
          }
        }
      }
    }
  }
}
