$darkBlue: #219799;
$darkBlue2: #1a7778;
$lightBlue: #aadef3;
$lightBlue2: #60c1dc;

.page-pet {
  padding: 80px;
  .content-usuario {
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    .index-usuario {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: solid 1px black;
      h2 {
        padding: 2rem;
        cursor: pointer;
        flex: 1;
        text-align: center;
        transition: 0.3s;
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      padding: 2rem;
      border-radius: 15px;
      background-color: #f0f0f0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 2rem;
      .guia {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1rem;
        .item {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .pets {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .pet {
          width: 280px;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 10px;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          svg{
            margin-left: auto;
            cursor: pointer;
            transition: .3s;
            &:hover{
              transform: scale(1.1);
            }
          }
          .nome {
            display: flex;
            flex-direction: column;
            svg {
              cursor: pointer;
              margin-left: auto;
              transition: 0.3s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .detalhes{
            border-top: solid 1px #dadada;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .detalhe{
              display: flex;
              justify-content: space-between;
            }
          }
          .btns {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            a {
              width: 100%;
            }
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;
              cursor: pointer;
              width: 100%;
              border-radius: 4px;
              font-weight: 700;
              height: 35px;
              border: none;
              transition: 0.3s;
            }
            .btn-agendar {
              background-color: #f0f0f0;
              border: solid 1px #219799;
              color: #219799;
              &:hover {
                background-color: #219799;
                color: white;
              }
            }
            .btn-agendamentos {
              background-color: #f0f0f0;
              border: solid 1px #219799;
              color: #219799;
              &:hover {
                background-color: #219799;
                color: white;
              }
            }
            .btn-edit {
              background-color: #f0f0f0;
              border: solid 1px green;
              color: green;
              &:hover {
                background-color: green;
                color: white;
              }
            }
          }
        }
      }
      table {
        width: 100%;
        thead {
          tr {
            background-color: #d0d0d0;
            th {
              font-size: 1.35rem;
              padding: 12px 0;
              text-transform: uppercase;
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 1.15rem;
              padding: 8px 0;
              text-align: center;
              svg {
                cursor: pointer;
                transition: 0.3s;
                position: relative;
                &:hover {
                  scale: 1.1;
                }
              }
            }
            background-color: #f0f0f0;
            &:nth-child(even) {
              background-color: #d7d7d7;
            }
          }
        }
      }
    }
    .novo-pet {
      display: flex;
      justify-content: center;
      padding: 80px;
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400px;
        input,
        button {
          width: 100%;
          height: 40px;
          border: none;
        }
        // input {
        //   padding-left: 1rem;
        //   border-radius: 2px;
        //   transition: 0.3s;
        //   outline: solid 2px transparent;
        //   &:focus-visible {
        //     outline: solid 2px $darkBlue;
        //   }
        // }
        button {
          border-radius: 2px;
          background-color: $darkBlue;
          color: white;
          font-size: 1.25rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: $darkBlue2;
          }
          &:disabled {
            background-color: #b0b0b0;
            cursor: default;
          }
        }
      }
    }
    .ativo {
      display: flex;
      rotate: 0deg;
    }
  }
}
@media (max-width: 1024px) {
  .page-pet {
    padding: 50px;
    .content-usuarios {
      .table {
        table {
          min-width: 750px;
          thead {
            tr {
              th {
                min-width: 70px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .page-pet {
    padding: 1rem;
    .content-usuario {
      .table {
        .pets{
          justify-content: center;
        }
      }
      .index-usuario {
        h2 {
          padding: 1rem 5px;
          font-size: 1.25rem;
        }
      }
      .usuario {
        justify-content: center;
        padding: 1rem;
        .usuario {
        }
      }
      .filtro-busca {
        input[type="text"] {
          width: 200px;
        }
      }
    }
  }
}
