<div class="page-pet">
  <h1>Pets - {{ dados.usuario.nome }}</h1>
  <div class="content-usuario">
    <div class="index-usuario">
      <h2 style="border-radius: 15px 0 0 0">TODOS OS PETS</h2>
      <h2 style="border-radius: 0 15px 0 0">NOVO PET</h2>
    </div>
    <div class="table">
      @if (dados.pets.length > 0) {
      <table>
        <thead>
          <tr>
            <th>Del.</th>
            <th>Tipo Pet</th>
            <th>Raça</th>
            <th>Sexo do pet</th>
            <th>Nome do Pet</th>
            <!-- <th>Peso (kg)</th> -->
            <th>Idade do Pet</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (pet of dados.pets; track pet.id) {
          <tr>
            <td>
              <svg
                style="translate: 0 2px"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="red"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </td>
            <td>{{ pet.tipo_animal }}</td>
            <td>{{ pet.raca }}</td>
            <td>{{ pet.genero }}</td>
            <td>{{ pet.nome }}</td>
            <!-- <td>N kg</td> -->
            <td>{{ calcularIdade(pet.data_nascimento) }}</td>
            <!-- editar e ver agendamentos -->
            <td style="display: flex; justify-content: space-evenly; gap: 8px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="#000"
                class="bi bi-pen"
                viewBox="0 0 16 16"
              >
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"
                />
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="#000"
                class="bi bi-eye"
                viewBox="0 0 16 16"
                (click)="openDialog()"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                />
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                />
              </svg>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else {
      <h2 style="text-align: center">
        Nenhum Pet encontrado para esse usuário
      </h2>
      }
    </div>
    <div class="novo-pet">
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input
            matInput
            formControlName="nome"
            type="text"
            name="nome"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gênero</mat-label>
          <mat-select
            matNativeControl
            formControlName="genero"
            name="genero"
            required
          >
            <mat-option value="M">Macho</mat-option>
            <mat-option value="F">Fêmea</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input
            matInput
            formControlName="data_nascimento"
            type="date"
            name="data_nascimento"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select
            matNativeControl
            formControlName="tipo_animal"
            name="tipo_animal"
            required
          >
            <mat-option value="Cachorro">Cachorro</mat-option>
            <mat-option value="Gato">Gato</mat-option>
            <mat-option value="Outro">Outro</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Raça do Animal</mat-label>
          <input
            matInput
            formControlName="raca"
            type="text"
            name="raca"
            required
          />
        </mat-form-field>
        <button type="submit" (click)="submitPet()" [disabled]="form.invalid">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
