<div class="page-login">
    <div class="img-logo">
      <!-- <img src="" alt=""> -->
      <h1>Logo</h1>
      <h1>PAINEL DE ADMINISTRADOR</h1>
    </div>
    <!-- <form>
      <input type="text" name="login" placeholder="Digite seu login" />
      <input type="password" name="senha" placeholder="Digite sua senha" />
      <button type="submit">Login</button>
    </form> -->
    <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input
            matInput
            formControlName="usuario"
            type="text"
            name="usuario"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input
            matInput
            formControlName="senha"
            type="password"
            name="senha"
            required
          />
        </mat-form-field>
        <button
          type="submit"
          (click)="submitLogin()"
          [disabled]="form.invalid"
        >
          Enviar
        </button>
      </form>
  </div>