$darkBlue: #219799;
$darkBlue2: #1a7778;
$lightBlue: #aadef3;
$lightBlue2: #60c1dc;
.page-login{
    background-color: $darkBlue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 4rem 0;
    .img-logo{
     color: white;
     display: flex;
     flex-direction: column;
     gap: 2rem;
    }
    form {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     width: 400px;
     color: white;
     input,
     button {
       width: 100%;
       height: 40px;
       border: none;
     }
     // input {
     //   padding-left: 1rem;
     //   border-radius: 2px;
     //   transition: 0.3s;
     //   outline: solid 2px transparent;
     //   &:focus-visible {
     //     outline: solid 2px $lightBlue;
     //   }
     // }
     button {
       border-radius: 2px;
       background-color: $lightBlue;
       font-size: 1.25rem;
       font-weight: 500;
       cursor: pointer;
       transition: 0.3s;
       &:hover {
         background-color: $lightBlue2;
       }
     }
   }
   }