$darkBlue: #219799;
$darkBlue2: #1a7778;
$lightBlue: #aadef3;
$lightBlue2: #60c1dc;
.mobile {
  cursor: pointer;
  transition: 0.3s;
}
.mobile.ativo {
  rotate: 90deg;
}
.content {
  width: 1440px;
  background-color: #f0f0f0;
  margin: 0 auto;
  margin-top: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .page-dashboard {
    padding: 50px 120px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    h1 {
      grid-column: 1/4;
    }
    .card {
      border-radius: 15px;
      background-color: white;
      padding: 1.5rem 2rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      h2 {
        text-align: center;
      }
    }
    .tables {
      grid-column: 1/4;
      width: 100%;
      display: flex;
      gap: 2rem;
      position: relative;
      // &::after{
      //     content: '';
      //     position: absolute;
      //     left: 50%;
      //     top: 0;
      //     height: 100%;
      //     width: 2px;
      //     background-color: black;
      // }
      .table {
        flex: 1;
        .table-title {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 1rem;
        }
        table {
          width: 100%;
          thead {
            tr {
              background-color: #d0d0d0;
              th {
                font-size: 1.15rem;
                padding: 8px 0;
                text-transform: uppercase;
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 5px 0;
                text-align: center;
              }
              &:nth-child(even) {
                background-color: #d7d7d7;
              }
            }
          }
        }
      }
    }
    .usuarios {
      .total-usuarios {
        font-size: 80px;
        margin: 3rem;
      }
    }
    .servicos {
      .servicos-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .servico {
          display: flex;
          justify-content: space-between;
          h3 {
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }
    .animais {
      display: flex;
      flex-direction: column;
      .animais-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto 0;
        .animal {
          display: flex;
          justify-content: space-between;
          h3 {
            font-size: 1.75rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .content {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .content {
    margin-top: 100px;
  }
}
