<app-navbar></app-navbar>
<svg
  [ngClass]="{
    ativo: mobile === true
  }"
  (click)="toggleMobile()"
  xmlns="http://www.w3.org/2000/svg"
  width="32"
  height="32"
  fill="currentColor"
  class="bi bi-list mobile"
  viewBox="0 0 16 16"
>
  <path
    fill-rule="evenodd"
    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
  />
</svg>

<section class="content">
  <div class="page-dashboard">
    <h1>DASHBOARD</h1>
    <div class="tables card">
      <div class="table">
        <div class="table-title">
          <h2>AINDA HOJE</h2>
          <h3>TOTAL: {{ consultasHoje.length }}</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>Serviço</th>
              <th>Cliente</th>
              <th>Horário de Início</th>
            </tr>
          </thead>
          <tbody>
            @for (item of consultasHoje; track item) {
            <tr>
              <td>{{ item.servico }}</td>
              <td>{{ item.usuario }}</td>
              <td>{{ item.horario_inicio }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="table">
        <div class="table-title">
          <h2>ÚLTIMOS ATENDIMENTOS</h2>
          <h3>TOTAL: {{ consultasHoje.length }}</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>Serviço</th>
              <th>Cliente</th>
              <th>Horário de Início</th>
            </tr>
          </thead>
          <tbody>
            @for (item of consultasHoje; track item) {
            <tr>
              <td>{{ item.servico }}</td>
              <td>{{ item.usuario }}</td>
              <td>{{ item.horario_inicio }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="usuarios card">
      <div class="title">
        <h2>USUÁRIOS CADASTRADOS</h2>
      </div>
      <h2 class="total-usuarios">{{ totalUsuarios }}</h2>
    </div>
    <div class="servicos card">
      <h2 class="title">SERVIÇOS MAIS AGENDADOS</h2>
      <div class="servicos-content">
        @for (servico of servicosTotal; track servico) {
        <div class="servico">
          <h3>{{ servico.servico }}</h3>
          <h3>{{ servico.total }}</h3>
        </div>
        }
      </div>
    </div>
    <div class="animais card">
      <h2 class="title">ANIMAIS MAIS ATENDIDOS</h2>
      <div class="animais-content">
        @for (animal of animaisTotal; track animal) {
          <div class="animal">
            <h3>{{ animal.tipo }}</h3>
            <h3>{{ animal.total }}</h3>
          </div>
        }
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
<section class="content">
  <div class="page-usuarios">
    <h1>USUÁRIOS</h1>
    <div class="content-usuarios">
      <div class="index-usuarios">
        <h2 style="border-radius: 15px 0 0 0;" [ngStyle]="{'background-color' : indexUsuarios ? '#d7d7d7' : ''}" (click)="toggleUsuarios(true)">TODOS OS USUÁRIOS</h2>
        <h2 style="border-radius: 0 15px 0 0;" [ngStyle]="{'background-color' : indexUsuarios ? '' : '#d7d7d7'}" (click)="toggleUsuarios(false)">NOVO USUÁRIO</h2>
      </div>
      <div class="table" [ngClass]="{'ativo': indexUsuarios === true}">
        <table>
          <thead>
            <tr>
              <th>Del.</th>
              <th>Nome do Usuário</th>
              <th>Email do Usuário</th>
              <th>Num. do Usuário</th>
              <th>Endereço</th>
              <th>Pets</th>
              <th>Abrir</th>
            </tr>
          </thead>
          <tbody>
            @for (usuario of usuarios; track usuario) {
              <tr>
                <td>Del.</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.numero }}</td>
                <td>{{ usuario.endereco }}</td>
                <td>{{ usuario.pets }}</td>
                <td>-></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="novo-usuario" [ngClass]="{'ativo': indexUsuarios === false}">
        <form>
          <input type="text" name="nome" placeholder="Nome">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="numero" placeholder="Número de telefone">
          <input type="text" name="endereco" placeholder="Endereço">
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="page-usuario">
    <h1>DETALHES DO USUÁRIO</h1>
    <div class="content-usuario">
      <div class="infos-usuario">
        <h2>Nome usuário</h2>
        <h3>Telefone</h3>
        <h3>Email</h3>
        <h3>Endereço</h3>
        <h3>Pets Registrados: 3</h3>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="page-login">
    <div class="img-logo">
      <!-- <img src="" alt=""> -->
       <h1>Logo</h1>
      <h1>PAINEL DE ADMINISTRADOR</h1>
    </div>
    <form>
      <input type="text" name="login" placeholder="Digite seu login">
      <input type="password" name="senha" placeholder="Digite sua senha">
      <button type="submit">Login</button>
    </form>
  </div>
</section>

