<div class="page-agendamentos">
    <h1>AGENDAMENTOS</h1>
    <button (click)="openDialog()">Abrir dialog (teste)</button>
    <div class="table-agendamentos">
      <h2>Próximos Agendamentos</h2>
      <table>
        <thead>
          <tr>
            <th>Del.</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Del.</td>
            <td>Robertinho</td>
            <td>Tosa</td>
            <td>06/03/2025</td>
            <td>14h30</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-agendamentos">
      <h2>Últimos Agendamentos</h2>
      <table>
        <thead>
          <tr>
            <th>Del.</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Del.</td>
            <td>Robertinho</td>
            <td>Tosa</td>
            <td>06/03/2025</td>
            <td>14h30</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>