/* You can add global styles to this file, and also import other style files */
$darkBlue: #219799;
$darkBlue2: #1a7778;
$lightBlue: #aadef3;
$lightBlue2: #60c1dc;

@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides((
    panel-background-color: #f0f0f0,
  ));
  --mat-option-selected-state-layer-color: #c0c0c0;
  --mat-option-hover-state-layer-color: #d0d0d0
}
mat-option{
  transition: .3s;
  &:hover{
    background-color: #b0b0b0;
  }
}

* {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $lightBlue;
}
section {
  margin-top: 150px;
}
table {
  border-collapse: collapse;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
a{
  text-decoration: none;
  color: inherit;
}
.cdk-overlay-container{
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 100%;
  }
}
.off{
  display: none;
}